<ul *ngFor='let room of (rooms)'>
    <li *ngIf='(room.players.length < 2)'>
      <button (click)='enterRoom(room.id)'>
      {{room.id}},{{room.host}}</button>
    </li>
</ul>

<div class="nameBar">
  Name<input  [(ngModel)]="name" placeholder="{{name}}" (change)="updateName()"/>
  <button (click)="createRoom()">CreateRoom</button>
</div>