Room: {{room.id}}

<ul *ngFor="let player of (room.players)">
  <li>
      {{player}}
  </li>
</ul>

<div class="actionBar">
  <button (click)='exitRoom()'>Exit</button>
  <button *ngIf='canStart' (click)='startGame()'>Start</button>
</div>